@page "/account/forgot-password"
@layout MainLayout
@attribute [AllowAnonymous]


<EditForm Model="@_emailModel" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                @*<MudIcon Icon="@CustomIcons.Uni" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;" />*@
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">@Localizer["Mot de passe oublié?"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.subtitle2" Class="mb-n4">@Localizer["Entrer votre email pour réinitialiser votre passe"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@Localizer["E-mail"]" @bind-Value="_emailModel.Email" For="@(() => _emailModel.Email)" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" Size="Size.Large" ButtonType="ButtonType.Submit" FullWidth="true">@Localizer["Reset Password"]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>